.top-bar span, .top-bar p, .top-bar button {
  color: white;
}

div {
    font-family: $font1;
}

h1 h2 h3 h4 h5 h6 { 
    font-family: $font1;
}

#search_icon_label {
  margin-right: 4%;
}

.trending_bar {
  background-color : $charcoal;
  height: 6vh;
  text-align: center;
  top: 50vh;
  position: relative;;
}
#trending_text {
  color: white;
  line-height: 6vh;
}

#main_page_carousel {
  height: 50vh;
}

li {
  list-style: none;
}


.profile_item {
  position: relative;
  display: block;
  margin: 1%;
  margin-top: 3%;
  margin-right: 1%;
  margin-left: 5%;
  border-radius: 6px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
  width: 288px;
  height: 526px;
    
  background-color: white;
}

.add_board {
  @extend .profile_item;
  background: rgba(0,0,0,0.03);
  border: 2px dashed #bbb;
  border-radius: 6px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #888;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 1px 1px #fff;
}
.plus_sign {
  position: absolute;
  top: 40%;
  transform: translateX(-50%);
}
.create_collection_text {
  margin-top: 2%;
}

.album_cover {
  position: relative;
  width: 98%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: 0 0 2px rgba(0,0,0,0.33) inset;
  -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.33) inset;
  border-radius: 3px;
  margin: 0 auto;
}

.album_cover_img_full {
  @extend .album_cover;
   height: 445px;
   width: 93%;
}

.album_cover_img_partial {
  @extend .album_cover ;
  height: 215px;
  margin: 3%;
}

.img_white_filler{
  @extend .album_cover_img_partial;
}

.collection-title {
  margin: 4%;
  color: $charcoal;
  font-weight: 600;
}
.profile_user_name {
  margin: 2%;
}

.profile_picture {
  position: relative;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 10%;
  margin-bottom: 5%;
}

.profile_user_description {

}

.modal_container {
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

.modal {
  background-color: $bg;
   margin: 2% auto; /* 2% from the top and centered */
   border: 1px solid #888;
   width: 90%;
}

.modal_item {
  position: relative;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 200px;
  height: 200px;
  z-index: 8;
  display: inline-block;
  float: left;
  margin: 0 3%;
  box-shadow: 0 0 2px rgba(0,0,0,0.33) inset;
  -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.33) inset;
  border-radius: 5px;


}
.top_item {
}

.top-section {
  margin-bottom: 4%;
  overflow: auto;
}

.modal_item.accessory_item {
  margin-bottom: 3%;
}

.accessories-section {
  //margin-right: 6%;
  overflow: auto;

}
.bottom-section {
  overflow: auto;
  margin-bottom: 4%;
}

.modal_whole_image {
@extend .modal_item;
  width: 300px;
  height: 465px;
  //margin-left: 6%;
}

.modal-header {
    padding: 2px 16px;
    background-color: $main_blue;
    color: white;
}

.modal-header h2 {
  text-align: center;
}

.close {
    font-size: 36px;
    font-weight: bold;
    color: $plchldr;
}

.accessory_item.place_filler, .modal_whole_image.place_filler {
  @extend .modal_item;
  height: 465px;
  border: 1px solid #dfdfdf;
}


.top_item.place_filler, .bottom_item.place_filler  {
  @extend .modal_item;
  height: 200px;
  width: 430px;
  border: 1px solid #dfdfdf;

}


a:focus , a:hover {
  cursor: pointer;
}

.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width:500px;
  height:350px;
}


.createBoardModal {
  @extend .modal;
  width: 80%;
}

.uploaded_file_name_holder {
  overflow: auto;
}

#signUpInmsg{
  margin: 0 auto;
  margin: 5% auto; /* 2% from the top and centered */
  width: 20%;
  border: 1px solid #dfdfdf;
  background-color: white;
}

.add_profile_picture {
  background: #888;
}
.Add_photo_text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.create_whole_image{
  height: 300px;
  width: 200px;
}

canvas {
  width: 100%;
  height: auto;
}

.submit_modal_button {
  margin: 6% auto;
}

.CreateBoardText {
  margin: 2% 0;
}

.camera_input {
  position: absolute;
  z-index: 1;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
  border-radius: 5%;
  width: 70px;
  bottom: 3%;
  cursor: pointer;
}

.add_pic_text {
  margin: 0 2% 2% 2%;
  font-size: 12px;
  font-weight: lighter;
}

.camera_icon {
  margin: 8%;
}

.description_holder {
  overflow: scroll;
}

.topNavBar {
  padding-left: 1%;
}

.temporary_buttons {
  position: relative;
  top:56vh;
}
