// Insert your variables
$charcoal: 	#36454F;
$silver: 	#C0C0C0;
$nickel: #727472;
$cool_grey:	#8C92AC;
$cadet_grey: #91A3B0;
$main_blue:#A8C4D9;


$font1: 'Lato', sans-serif;
$font_logo:'Pacifico', cursive;

$bg: #f8f8f8;
$white: #ffffff;
$blue: #263238;
$grey: #d9d9d9;
$plchldr: #999999;
$pink: #f7cfc6;