<div class="list" ng-controller='homeController'>

  <div ng-include="'./partials/CollectionModal.html'"></div>
  <div ng-include="'./partials/navbar.html'"></div>


  <section id = "main_page_carousel">

    			<!-- Codrops top bar -->
<!--
        <div class="codrops-top">

             <div>  Stylist </div>

            <span class="right">
				<a href="http://www.ikea.com/gb/en/">Menu</a>
                <a href="http://tympanus.net/codrops/?p=11146">
                    <strong>Login</strong>
                </a>
            </span>

        </div>
-->
    <!--/ Codrops top bar -->


    <!--  *****  Please don't delete this-->




		<section id="ps-container" class="ps-container">

			<div class="ps-header">
				<h1>Be a stylist</h1>
			</div><!-- /ps-header -->

			<div class="ps-contentwrapper">

				<div class="ps-content">
					<h2>Dandi</h2>
					<img class="thumbnail ps-photo" src="../data/images/user1.jpg" alt="User picture">
					<p>Lorem ipsum dolor sit amet, usu singulis liberavisse an, mel ut elitr persequeris. Dolorum blandit gubergren an mei. Nec debet nusquam ut, delenit senserit iudicabit per no. In tractatos expetenda quo.</p>
					<a href="http://www.ikea.com/gb/en/catalog/products/80163804/#/60203882">See this stylist</a>
				</div>

				<div class="ps-content">
					<h2>Farnez</h2>
					<img class="thumbnail ps-photo" src="../data/images/user2.jpg" alt="User picture">
					<p>Ius quas mucius omnium ex, qui commune eleifend erroribus id, aeterno nusquam erroribus cu vel. Cu amet legere utroque pro. At his aperiri nostrum scripserit. </p>
					<a href="http://www.ikea.com/gb/en/catalog/products/90185320/#/20115038">See this stylist</a>
				</div>

				<div class="ps-content">
					<h2>Shuo</h2>
					<img class="thumbnail ps-photo" src="../data/images/user3.jpg" alt="User picture">
					<p>Prompta quaeque senserit cum ad, an liber volumus definitionem pri. Mei dico soleat corpora eu. Corpora pertinax duo ei, mea debet utinam repudiare te. Ponderum complectitur ea per.</p>
					<a href="http://www.ikea.com/gb/en/catalog/products/S79889694/#/S59901017">See this stylist</a>
				</div>

				<div class="ps-content">
					<h2>Michael</h2>
					<img class="thumbnail ps-photo" src="../data/images/user4.jpg" alt="User picture">
					<p>Audire perfecto in eos, vix ad odio pericula. Id eum atqui appareat interpretaris. Sea nobis facete euripidis no. Ut vix dolor affert accusata, id vis tale harum utinam.</p>
					<a href="http://www.ikea.com/gb/en/catalog/products/S99895000/#/S69894380">See this stylist</a>
				</div>

				<div class="ps-content">
					<h2>Victoria</h2>
					<img class="thumbnail ps-photo" src="../data/images/user5.jpg" alt="User picture">
					<p>Prompta quaeque senserit cum ad, an liber volumus definitionem pri. Mei dico soleat corpora eu. Corpora pertinax duo ei, mea debet utinam repudiare te. </p>
					<a href="http://www.ikea.com/gb/en/catalog/products/70224756/">See this stylist</a>
				</div>

			</div><!-- /ps-contentwrapper -->

			<div class="ps-slidewrapper">

				<div class="ps-slides">
					<div style="background-image:url(./data/images/1.jpg);"></div>
					<div style="background-image:url(./data/images/2.jpg);"></div>
					<div style="background-image:url(./data/images/3.jpg);"></div>
					<div style="background-image:url(./data/images/4.jpg);"></div>
					<div style="background-image:url(./data/images/5.jpg);"></div>
				</div>

				<nav>
					<a href="#" class="ps-prev" ></a>
					<a href="#" class="ps-next" ></a>
				</nav>

			</div><!-- /ps-slidewrapper -->

		</section><!-- /ps-container -->


</section>


<div class = "trending_bar">
  <span id = "trending_text"> Potpourri </span>

</div>

<div class = "row trending_collections">
  <div class = "columns small-12">

<ul>
<li ng-repeat = "collection in collections">

  <a ng-click= "showAlbum($index)">
  <div class = "collection_album profile_item float-left text-center small-centered">
    <p class = "collection-title"> {{collection.name}} </p>

	  <div style="background-image: url('{{collectionsImages[$index]}}')" class="album_cover_img_full" > </div>


    <div class = "row">
      <div class = "columns small-11 small-centered">

        <!--<span ng-show="collection.wholeimgUrl">-->
          <!--<div class = "album_cover_img_full" style ="background-image:url('{{collection.wholeimgUrl}}')"></div>-->
        <!--</span>-->

        <!--<span ng-hide="collection.wholeimgUrl">-->
          <!--<div class = "album_cover_img_partial" style ="background-image: url('{{collection.items[0].url}}')"> </div>-->

          <!--<div ng-show = "collection.items[1]" class = "album_cover_img_partial" style = "background-image: url('{{collection.items[1].url}}')"> </div>-->
          <!--<div ng-hide = "collection.items[1]" class = "album_cover_img_partial img_white_filler"> </div>-->

        <!--</span>-->

      </div>
    </div>
  </div>
</a>


</li>


</ul>

</div>
</div>



<div class = "footer_bar">
  <span id = "footer_text">
             Copyright © StyleUp 2016
           </span>

</div>


<!--
<div class = "temporary_buttons">
    <a href = "#/users/111111" class= "button" > Farnaz's Profile</a>
    <a href = "#/users/111112" class= "button" > Dandi's Profile</a>
    <a href = "#/users/111113" class= "button" > Shuo's Profile</a>
    <a href = "#/users/111114" class= "button" > Michael's Profile</a>

</div>
-->

<!-- jQuery if needed -->

<!--
		<script type="text/javascript">
			$(function() {
                console.log("here");
				Slider.init();

			});
		</script>

-->
