<div class="list" ng-controller='FirstController'>

<div data-sticky-container>
<div class="top-bar" data-sticky data-options="marginTop:0;" style="width:100%" data-top-anchor="1" data-btm-anchor="content:bottom">
  <div class="top-bar-title">
     <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
      <button class="menu-icon dark" type="button" data-toggle></button>
    </span>

    <span>StyleUp</span>
  </div>

  <div id="responsive-menu">

    <div class="top-bar-left row">
      <ul class="menu columns small-12">

        <div class = "search_component">
          <label id = "search_icon_label" for="search-input" class = "float-left">
            <i class="fa fa-search fa-2x" aria-hidden="true"></i>
          </label>

          <input id="search-input" type = "search" class="form-control input-lg" placeholder="Search">



        </div>


      </ul>

    </div>

    <div class="top-bar-right">
      <ul class =  "menu">
        <button> Login </button>
    </ul>

      </div>
    </div>
    </div>
  </div>
</div>

<section id = "main_page_carousel">

    			<!-- Codrops top bar -->
<!--
        <div class="codrops-top">
            
             <div>  Stylist </div>  
        
            <span class="right">
				<a href="http://www.ikea.com/gb/en/">Menu</a>
                <a href="http://tympanus.net/codrops/?p=11146">
                    <strong>Login</strong>
                </a>
            </span>
    
        </div>
-->
    <!--/ Codrops top bar -->

    
    <!--  *****  Please don't delete this-->
    
    
		
    
		<section id="ps-container" class="ps-container">
		
			<div class="ps-header">
				<h1>Be a stylist</h1>
			</div><!-- /ps-header -->
			
			<div class="ps-contentwrapper">
			
				<div class="ps-content">
					<h2>Name</h2>
					<span class="ps-price">Photo</span>
					<p>Summary about stylist 1:With restful springiness in the seat; prevents static sitting and provides enhanced seating comfort. Padded seat and back for enhanced seating comfort. Soft, hardwearing and easy care leather, which ages gracefully.</p>
					<a href="http://www.ikea.com/gb/en/catalog/products/80163804/#/60203882">See this stylist</a>
				</div>
				
				<div class="ps-content">
					<h2>Name</h2>
					<span class="ps-price">Photo</span>
					<p>Summary about stylist 2: For increased stability, re-tighten the screws about two weeks after assembly. Seat and back with restful flexibility; prevents a static sitting posture and enhances comfort.</p>
					<a href="http://www.ikea.com/gb/en/catalog/products/90185320/#/20115038">See this stylist</a>
				</div>
				
				<div class="ps-content">
					<h2>Name</h2>
					<span class="ps-price">Photo</span>
					<p>Summary about stylist 3:Frame made of layer-glued bent birch; a very strong and durable material. High back provides great support for your neck. Sheepskin has natural insulating properties, which make it feel warm and cosy to sit on. Extra cushions are available for variation and renewal.</p>
					<a href="http://www.ikea.com/gb/en/catalog/products/S79889694/#/S59901017">See this stylist</a>
				</div>
				
				<div class="ps-content">
					<h2>Name</h2>
					<span class="ps-price">Photo</span>
					<p>Summary about stylist 4: Easy to keep clean; removable, machine washable cover. Seat cushion with a top layer of memory foam; moulds to the precise contours of your body and regains its shape when you get up.</p>
					<a href="http://www.ikea.com/gb/en/catalog/products/S99895000/#/S69894380">See this stylist</a>
				</div>
				
				<div class="ps-content">
					<h2>Name</h2>
					<span class="ps-price">Photo</span>
					<p>Summary about stylist 5:Height adjustable for a comfortable sitting posture. The sloping seat gives a comfortable sitting position when leaning forwards.</p>
					<a href="http://www.ikea.com/gb/en/catalog/products/70224756/">See this stylist</a>
				</div>
				
			</div><!-- /ps-contentwrapper -->
			
			<div class="ps-slidewrapper">

				<div class="ps-slides">
					<div style="background-image:url(./data/images/1.jpg);"></div>
					<div style="background-image:url(./data/images/2.jpg);"></div>
					<div style="background-image:url(./data/images/3.jpg);"></div>
					<div style="background-image:url(./data/images/4.jpg);"></div>
					<div style="background-image:url(./data/images/5.jpg);"></div>
				</div>

				<nav>
					<a href="#" class="ps-prev" ></a>
					<a href="#" class="ps-next" ></a>
				</nav>

			</div><!-- /ps-slidewrapper -->
			
		</section><!-- /ps-container -->


</section>
<body>


		
<div class = "trending_bar row column">
  <span id = "trending_text"> Trending </span>


<a href = "#/users/111111" class= "button" > Farnaz's Profile</a>
<a href = "#/users/111112" class= "button" > Dandi's Profile</a>
<a href = "#/users/111113" class= "button" > Shuo's Profile</a>
<a href = "#/users/111114" class= "button" > Michael's Profile</a>
    
    </div>

<!-- jQuery if needed -->
        
<!--
		<script type="text/javascript">
			$(function() {
                console.log("here");
				Slider.init();

			});
		</script>
  
-->

 
</body> 