<div ng-controller= "loginController">

<div ng-show = "showmsg" class = "modal_container">
  <section  id = "signUpInmsg">
    <div class = "row">
      <div class = "columns small-centered small-6 text-center">
        <p>{{msg}}</p>
      </div>
    </div>

    <div class = "row">
      <div class = "columns small-centered small-4 text-center">
        <button ng-click= "goAway()" class = "button msg_modal_button"> Ok </button>

      </div>
    </div>

  </section>
</div>

    <section class="container">
		    <article class="half">
			        <h1>StyleUp</h1>
			        <div class="tabs">
				            <span class="tab signin active"><a href="#signin">Sign in</a></span>
				            <span class="tab signup"><a href="#signup">Sign up</a></span>
                            <span class="tab signup"><a href="#/home">Explore</a></span>
			        </div>
			        <div class="content">
				            <div class="signin-cont cont">
					                <form action="#" method="post" enctype="multipart/form-data">
						                    <input type="name" ng-model="user.username" id="username" class="inpt" required="required" placeholder="Username">
						                    <label for="username">Username</label>
						                    <input type="password" ng-model="user.password" id="password" class="inpt" required="required" placeholder="Password">
                						    <label for="password">Password</label>
						                    <!-- <input type="checkbox" id="remember" ng-model="loginRemember" class="checkbox" checked> -->
						                    <!-- <label for="remember">Remember me</label> -->
						                    <div class="submit-wrap">
							                        <input type ="button" ng-click="TrySignIn()" value="Sign in" class="submit">
							                        <!-- <a href="#" class="more">Forgot your password?</a> -->
						                    </div>
        					        </form>
    				        </div>
    				        <div class="signup-cont cont">
                <form action="#" method="post" enctype="multipart/form-data">
						                    <input type="name" ng-model="user.name" id="name" class="inpt" required="required" placeholder="Name">
						                    <label for="name">Name</label>
                                <input type="username" ng-model="user.username" id="username" class="inpt" required="required" placeholder="Username">
						                    <label for="username">Username</label>
                                <input type="email" ng-model="user.email" id="email" class="inpt" required="required" placeholder="Email">
						                    <label for="email">Email</label>
						                    <input type="password" ng-model="user.password" id="password" class="inpt" required="required" placeholder="Password">
                						    <label for="password">Password</label>
						                    <div class="submit-wrap">
							                        <input type="button" value="Sign up" ng-click= "TrySignUp()" class="submit">
							                        <!-- <a href="#" class="more">Terms and conditions</a> -->
						                    </div>
        					        </form>
            </div>
			        </div>
		    </article>
		    <div class="half bg"></div>
	</section>

<div class="credits">All right reserved by Styleup</div>


</div>
