
<nav class = "topNavBar">

  <div class="navToggle small-1">
    <div class="icon"></div>
  </div>

  <div class = "logo small-1 columns">
     <a href="#/home"> StyleUP </a>
  </div>

  <div class = "small-3 large-2 columns">
        <div class="search_container">
            <div class="search-box">
                <input type="text" />
                <span></span>
            </div>
        </div>
  </div>



  <ul>
    <li><a href="#/home">Home</a></li>
    <li ng-show="!navBarUserLoggedIn" ><a href="#/login">Login / Sign up</a></li>

<!--
    <li><a href="#">Services</a></li>
    <li><a href="#">Contact</a></li>
-->
  </ul>

</nav>
