<div ng-controller="profileController" class="list" >

  <div ng-include="'./partials/navbar.html'"></div>

  <div ng-include="'./partials/CollectionModal.html'"></div>
  <div ng-include="'./partials/CreateBoardModal.html'"></div>


<div class = "row">
  <div class = "columns small-12">
    <ul>
      <li>

        <div class = "profile_info profile_item float-left text-center small-centered">
          <div class = "columns small-12">

            <div ng-show="!profile_owner" class= "profile_picture" style = "background-image: url('{{profilePic}}')"> </div>
            <div ng-show="profile_owner" ng-click="AddPic()" class= "profile_picture" style = "background-image: url('{{profilePic}}')">
             </div>


            <p class = "profile_user_name"> {{user.name}} </p>

            <div class = "description_holder">
            <a ng-show="profile_owner" href="#" class = "profile_user_description" editable-text="user.description">{{ user.description || "empty" }}</a>

            <p ng-show="!profile_owner" class = "profile_user_description"> {{user.description}} </p>
          </div>


            <div ngf-select="uploadPic($file)" ng-show="profile_owner" class="camera_input">
              <i class="fa fa-camera fa-2x camera_icon" aria-hidden="true"></i>
              <div class="add_pic_text"> Add photo</div>
            </div>
        </div>

      </li>


      <li ng-show = "profile_owner">

        <div ng-click = "showCreateBoard()" class = " profile_item add_board float-left text-center small-centered">
          <div class = "columns small-12">
            <i class="fa fa-plus-circle fa-5x plus_sign" aria-hidden="true"></i>
            <div class = "create_collection_text"> Create a new collection </div>

        </div>

      </li>



      <li ng-repeat = "collection in collections">

        <a ng-click= "showAlbum($index)">
        <div class = "collection_album profile_item float-left text-center small-centered">
          <p class = "collection-title"> {{collection.title}} </p>
          <div class = "row">
            <div class = "columns small-11 small-centered">

              <span ng-show="collection.wholeimgUrl">
                <div class = "album_cover_img_full" style ="background-image:url('./data/images/{{collection.wholeimgUrl}}.jpg')"></div>
              </span>

              <span ng-hide="collection.wholeimgUrl">
                <div class = "album_cover_img_partial" style ="background-image: url('./data/images/{{collection.items[0].url}}.jpg')"> </div>

                <div ng-show = "collection.items[1]" class = "album_cover_img_partial" style = "background-image: url('./data/images/{{collection.items[1].url}}.jpg')"> </div>
                <div ng-hide = "collection.items[1]" class = "album_cover_img_partial img_white_filler"> </div>

              </span>

            </div>
          </div>
        </div>
      </a>

      </li>


    </ul>

  </div>
</div>

</div>
