<div ng-controller="profileController" class="list" >

  <div ng-include="'./partials/navbar.html'"></div>

  <div ng-include="'./partials/CollectionModal.html'"></div>


    <div ng-show="CreateBoardModalShow"  class = "modal_container">

    <div class = "createBoardModal">

      <div class=" modal-header">
      <h2 class = "modal_title"> Create a collection</h2>
      <a ng-click= "closeCreateBoardModal()" class="close float-right">&times;</a>
    </div>

      <form>

    <div class = "row">

      <div class = "columns small-12 large-8">

      <div class = "row">
          <div class = "columns large-12 add_margin">
            <label class = "add_margin">
               <div class ="collection_name"> Collection name </div>
               <input type="text" ng-model = "collection_name" placeholder="Give a name to your collection">
            </label>
      </div>
    </div>

    <div class = "row">
      <div class = "columns small-12 add_margin">
          <div class = "add_margin">
              <div class ="collection_name"> Upload clothes </div>
          <ul>
          <li ng-repeat = "upload_item in picFiles track by $index">

            <div class = "row">

              <div class = "columns small-6 medium-6">
                <label class = "CreateBoardText">Select category</label>
                <select ng-model="categories[$index]">
                <option value="Dress">dress</option>
                <option value="Coat">coat</option>
                <option value="Shirt">shirt</option>
                <option value="Pants">pants</option>
                <option value="Skirt">skirt</option>
                <option value="Shoes">shoes</option>
                <option value="Accessory">accessory</option>
                </select>
              </div>


              <div class = "columns small-1 medium-2 large-5 uploaded_file_name_holder">
                <div style="font:smaller">{{picFiles[$index].name}} </div>

              </div>

              <div class = "columns small-5 medium-4 large-3 small-centered">
                  <div class = "row small-12 column">

                 <label class="custom-file-upload">
                     <input type="file"/ ngf-select ng-model="picFiles[$index]" accept="image/*">
                      <i class="fa fa-cloud-upload"></i> Select file
                  </label>


                  </div>

                  <div class = "row small-12 column">


                <input type ="button" ng-click="deleteFile($index)" value="Delete" class="button2">


                  </div>

                </div>




            </div>


          <li>
        </ul>
          <div class= "small-5 large-4 add_margin">
              <input type ="button" ng-click="IncrementItem()" value=" Add Category" class="button2">
          </div>



      </div>

          </div>

    </div>


  <!--
    <div class = "row">
      <div class = "columns small-3">
          <button class = "button " ng-click = "IncrementItem()"> add file</button>

          <input type ="button" ng-click="IncrementItem()" value=" Add Category" class="button2">


      </div>


    </div>
  -->


      </div>

      <div class = "columns small-12 large-4">

      <div class= "imagecorp_margin">
              <div class="collection_name"> Pieces all together </div>

  <!--
              <label for="FileUploadInput" class="button">Upload File</label>
              <input class="show-for-sr" id = "FileUploadInput" type="file" name="wholeImg" img-cropper-fileread image="cropper.sourceImage" accept="image/*">
  -->



              <label class="button1 small-4 large-6 column row" for="FileUploadInput" style=" border: 1px solid #263238; */
   ">

                 <input type="file"/ class="show-for-sr" id = "FileUploadInput" name="wholeImg" img-cropper-fileread image="cropper.sourceImage" accept="image/*">
                      <i class="fa fa-cloud-upload"></i> Upload File
              </label>


              <div>
                <canvas id="canvas" image-cropper image="cropper.sourceImage" cropped-image="cropper.croppedImage" crop-width="150" crop-height="225" min-width="50" min-height="50" keep-aspect="false" crop-area-bounds="bounds"></canvas>
              </div>

              <div class="CreateBoardText">Take a peek at how it'll look like.

              </div>

                <div class = "row">
                    <div class = "columns small-12 small-centered text-center">

                  <div ng-show="cropper.croppedImage!=null">
                    <img class ="create_whole_image" ng-src="{{cropper.croppedImage}}" />
                  </div>

                  </div>
              </div>
          </div>

   </div>

      </div>

      <div class = "">
        <div class = "columns small-3 small-centered text-centered">
  <!--        <button class = "button submit_modal_button" ng-click = "submitCollectionForm()"> make collection </button>-->


           <label class = "button1">
               <input type ="button" ng-click="submitCollectionForm()">
               Make A New Collection

           </label>



        </div>


      </div>

    </form>



    </div>

  </div>



<div class = "row">
  <div class = "columns small-12">
    <ul>
      <li>

        <div class = "profile_info profile_item float-left text-center small-centered">
          <div class = "columns small-12">

            <div ng-show="!profile_owner" class= "profile_picture" style = "background-image: url('{{profilePic}}')"> </div>
            <div ng-show="profile_owner" ng-click="AddPic()" class= "profile_picture" ng-style="{'background-image': 'url('+ profilePic+')'}">
             </div>


            <p class = "profile_user_name"> {{user.name}} </p>

            <div class = "description_holder">
            <a ng-show="profile_owner" href="#" class = "profile_user_description" editable-text="user.description">{{ user.description || "empty" }}</a>

            <p ng-show="!profile_owner" class = "profile_user_description"> {{user.description}} </p>
          </div>

          <label  ng-show="profile_owner" class="camera_input">
              <input type="file" onchange="angular.element(this).scope().uploadPic(this)" accept="image/*">
              <i class="fa fa-camera fa-2x camera_icon" aria-hidden="true"></i>
              <div class="add_pic_text"> Add photo</div>
         </label>
        </div>

      </li>


      <li ng-show = "profile_owner">

        <div ng-click = "showCreateBoard()" class = " profile_item add_board float-left text-center small-centered">
          <div class = "columns small-12">
            <i class="fa fa-plus-circle fa-5x plus_sign" aria-hidden="true"></i>
            <div class = "create_collection_text"> Create a new collection </div>

        </div>

      </li>



      <li ng-repeat = "collection in collections">

        <a ng-click= "showAlbum($index)">
        <div class = "collection_album profile_item float-left text-center small-centered">
          <p class = "collection-title"> {{collection.title}} </p>
          <div class = "row">
            <div class = "columns small-11 small-centered">

              <span ng-show="collection.wholeimgUrl">
                <div class = "album_cover_img_full" style ="background-image:url('./data/images/{{collection.wholeimgUrl}}.jpg')"></div>
              </span>

              <span ng-hide="collection.wholeimgUrl">
                <div class = "album_cover_img_partial" style ="background-image: url('./data/images/{{collection.items[0].url}}.jpg')"> </div>

                <div ng-show = "collection.items[1]" class = "album_cover_img_partial" style = "background-image: url('./data/images/{{collection.items[1].url}}.jpg')"> </div>
                <div ng-hide = "collection.items[1]" class = "album_cover_img_partial img_white_filler"> </div>

              </span>

            </div>
          </div>
        </div>
      </a>

      </li>


    </ul>

  </div>
</div>

</div>
