<div class="list" >

  <div ng-include="'./partials/CollectionModal.html'"></div>
  <div ng-include="'./partials/CreateBoardModal.html'"></div>


<div class = "row">
  <div class = "columns small-12">
    <ul>
      <li>

        <div class = "profile_info profile_item float-left text-center">
          <div class = "columns small-12">
            <div ng-show="user.profilePicUrl" class= "profile_picture" style = "background-image: url('./data/images/{{user.profilePicUrl}}.jpg')"> </div>

            <div ng-show="!user.profilePicUrl && !profile_owner" class= "profile_picture" style = "background-image: url('./data/images/profilePicPlaceHolder.jpg')"> </div>
            <div ng-show="!user.profilePicUrl && profile_owner" ng-click="AddPic()" class= "profile_picture add_profile_picture">
              <div class = "Add_photo_text"> Add a photo </div>
             </div>

            <p class = "profile_user_name"> {{user.name}} </p>
            <p class = "profile_user_description"> {{user.description}}</p>
        </div>

      </li>


      <li ng-show = "profile_owner">

        <div ng-click = "showCreateBoard()" class = " profile_item add_board float-left text-center">
          <div class = "columns small-12">
            <i class="fa fa-plus-circle fa-5x plus_sign" aria-hidden="true"></i>
            <div class = "create_collection_text"> Create a new collection </div>

        </div>

      </li>



      <li ng-repeat = "collection in collections">

        <a ng-click= "showAlbum($index)">
        <div class = "collection_album profile_item float-left text-center">
          <p class = "collection-title"> {{collection.title}} </p>
          <div class = "row">
            <div class = "columns small-11 small-centered">

              <span ng-show="collection.wholeimgUrl">
                <div class = "album_cover_img_full" style ="background-image:url('./data/images/{{collection.wholeimgUrl}}.jpg')"></div>
              </span>

              <span ng-hide="collection.wholeimgUrl">
                <div class = "album_cover_img_partial" style ="background-image: url('./data/images/{{collection.items[0].url}}.jpg')"> </div>

                <div ng-show = "collection.items[1]" class = "album_cover_img_partial" style = "background-image: url('./data/images/{{collection.items[1].url}}.jpg')"> </div>
                <div ng-hide = "collection.items[1]" class = "album_cover_img_partial img_white_filler"> </div>

              </span>

            </div>
          </div>
        </div>
      </a>

      </li>
    </ul>

  </div>
</div>

</div>
